<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @phrase.content %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @phrase.comment %>
</p>

<%= link_to 'Edit', edit_phrase_path(@phrase) %> |
<%= link_to 'Back', phrases_path %>
